{% load static %}


<div class="tab-pane" id="dtContent" role="tabpanel" aria-labelledby="dtContent-tab">
    <h3>Decision tree</h3>
    
    <div class="container-fluid" id="gridModelSnippets">
        <img src="{% get_static_prefix %}masterquest/images/dt/{{task.decisionTree}}" />
    </div>

    {{task.decisionTree.getNodesGlossary}}
    <table>
        {% for node in task.decisionTree.getNodesGlossary %}
        <tr>
            <td>{{node.apiname}}</td>
        </tr>
        {% endfor %}
    </table>
</div>