{% load static %}

<div class="container {{class}}" id="gridModelSnippets">
        <div class="row">
            <div class="col-sm">            
                <a href="{% get_static_prefix %}masterquest/images/{{dtModel.imgPath}}" target="_blank">
                    <!--<img src="{% get_static_prefix %}masterquest/images/dtree.png" data-toggle="modal" data-target="#dtModelModal"/>      --> 
                    <img src="{% get_static_prefix %}masterquest/images/{{dtModel.imgPath}}"/>
                </a>
            </div>            
        </div>
        {% if showCodeSnippets %}            
        <div class="row">            
            <div class="col-sm">
                <span style="display: block;">Code snippet 1</span>
                <img src="{% get_static_prefix %}masterquest/images/fileico.png" data-toggle="modal" data-target="#cs1"/>
            </div>    
            <div class="col-sm">
                <span style="display: block;">Code snippet 2</span>
                <img src="{% get_static_prefix %}masterquest/images/fileico.png" data-toggle="modal" data-target="#cs2"/>
            </div>    
        </div>
        {% endif %} 
    </div>
    
    {% if showCodeSnippets %}            
    <!-- Modals -->
    {% include "masterquest/incModals.html" %}
    {% endif %} 