{% extends "masterquest/base.html" %}

{% block content %}
    <h1>Welcome</h1>

    <h2 id="research-title">Research - Code Smell Detection: assessing interpretability of decision tree-based detections.</h2>

    <div>
            {% lorem 3 p %}
    </div>
    
    <div id="members">
        <p><strong>Ms Student:</strong> Christiano Rossini (christianorossini@ic.ufal.br)</p>
        <p><strong>Advisor:</strong> Baldoino Fonseca</p>
    </div>
    
    <p>Welcome! Click below to enter!</p>

    
    
    <p style="text-align: center;">        
        <a href="newparticipant/" title="Enter" class="btn btn-primary btn-lg" role="button">Go to survey</a>    
    </p>
{% endblock %}