{% extends "masterquest/base.html" %}

{% block content %}
{% load static %}
<div class="container">
    <h1>2 - Start up instructions</h1>

    <p>
        The participant must accomplish {{numTasks}} different tasks, each one with a related code snippet. The
        accomplishment of a task will be done after answering 2 questions:
        <dl>
            <dt>What code smell type do you infer from code snippet?</dt>
            <dd>
                sdasdfds
            </dd>
            <dt>What's your confidence level about the chosen option above??</dt>
            <dd>
                
            </dd>
        </dl>
        Half of the tasks will show a code snippet along with a desicion tree to .
    </p>





    <form action="{% url 'startSurvey' %}" method="POST">
        {% csrf_token %}
        <p class="text-center">
            <input type="submit" class="btn btn-primary btn-lg" value="Start!">
        </p>
        <input type="hidden" value="{{participant_id}}" name="participant_id" />
    </form>


</div>

{% endblock content %}