{% extends "masterquest/base.html" %}

{% block content %}

    <h1 class="stepTitle">1 - Participant Background</h1>
    
    <fieldset>
        <form action="{% url 'newparticipant' %}" method="POST">
            <div class="form-group">
                {% csrf_token %}
                {{form}}                                
            </div>    
            <input type="submit" value="Ok. Now, show me instructions." class="btn btn-primary" />

        </form>
    </fieldset>

{% endblock content %}