{% extends "masterquest/survey.html" %}
{% load static %}

{% block surveyContent %}
   
    <p>
        Analyse the model. See carefully the rules, conections, nodes and leaves. Then, answer the questions below.        
    </p>

    {% include "masterquest/incTreePanel.html" %}    
    
    <form action="{% url 'survey' %}" method="POST" id="taskForm">    
        {% csrf_token %}  
        <div class="quest1Content questContent">
            <h3 class="questionDesc">What code smell do you infer from leaves?</h3>           
            <div class="input-group mb-3">                
                {{form.answerq1}}
            </div>                                       
        </div>    

        <div class="quest2Content questContent">
            <h3 class="questionDesc">Why do you chose the option above?</h3>       
            <div class="input-group mb-3">                
                {{form.answerq1_complement}}
            </div>                
        </div>    
               
        <div class="quest3Content questContent">
            <h3 class="questionDesc">How comprehensible are the classification model?</h3>       
            <div class="input-group mb-3">                
                {{form.answerq2}}
            </div>                
        </div>
        
        <div class="quest2Content questContent">
            <h3 class="questionDesc">Why do you chose the option above?</h3>       
            <div class="input-group mb-3">                
                {{form.answerq2_complement}}
            </div>                
        </div>

        {{form.task}}
        {{form.dtModel}}   
        {{form.questionnaire}}         
        
        <input type="submit" value="Next Task" class="btn btn-primary" />
    </form>   

{% endblock surveyContent %}
