{% extends "masterquest/survey.html" %}
{% load static %}

{% block surveyContent %}

<!--
<p>
    Analyse the model. See carefully the rules, conections, nodes and leaves. Then, answer the questions below.
</p>
-->

<div class="content">

    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="formContent-tab" data-toggle="tab" href="#formContent" role="tab"
                aria-controls="formContent" aria-selected="true">Form</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="dtContent-tab" data-toggle="tab" href="#dtContent" role="tab"
                aria-controls="dtContent" aria-selected="false">Tree view</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="codeSnippet-tab" data-toggle="tab" href="#codeSnippetContent" role="tab"
                aria-controls="codeSnippetContent" aria-selected="false">Code view</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="formContent" role="tabpanel" aria-labelledby="formContent-tab">

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                To answer the questions below, you should visualize the corresponding tree and code snippet. Click on the tabs to navigate.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="{% url 'survey' %}" method="POST" id="taskForm">
                {% csrf_token %}
                <div class="quest1Content questContent">
                    <h3 class="questionDesc">What code smell do you infer from leaves?</h3>
                    <div class="input-group mb-3">
                        {{form.answerq1}}
                    </div>
                </div>

                <div class="quest2Content questContent">
                    <h3 class="questionDesc">Why do you chose the option above?</h3>
                    <div class="input-group mb-3">
                        {{form.answerq1_complement}}
                    </div>
                </div>

                <div class="quest3Content questContent">
                    <h3 class="questionDesc">How comprehensible are the classification model?</h3>
                    <div class="input-group mb-3">
                        {{form.answerq2}}
                    </div>
                </div>

                <div class="quest2Content questContent">
                    <h3 class="questionDesc">Why do you chose the option above?</h3>
                    <div class="input-group mb-3">
                        {{form.answerq2_complement}}
                    </div>
                </div>

                {{form.task}}
                {{form.dtModel}}
                {{form.questionnaire}}

                <input type="submit" value="Next Task" class="btn btn-primary" />
            </form>
        </div>

        {% include "masterquest/incTreePanel.html" with showCodeSnippets=True showDt=True %}

    </div>
</div>


{% endblock surveyContent %}