{% extends "masterquest/survey.html" %}
{% load static %}

{% block surveyContent %}

<div class="container-fluid">

    <div class="tab-content" id="myTabContent">

        {% comment %}
        <div class="tab-pane" id="introContent" role="tabpanel" aria-labelledby="introContent-tab">

            <h3><span class="text-white bg-dark rounded">Task 1 of 2</span> - code snippet analysis</h3>

            <h4 class="instructions">Instructions</h4>

            <p>
                This task presents a code snippet which contains a specific code smell type.
            </p>
            <p>
                So you have to:
            </p>
            <ol>
                <li>Check the code snippet - click on "Code view".</li>
                <li>Fill in the form and submit it - click on "Task submission".</li>
            </ol>
        </div>
        {% endcomment %}

        <div class="tab-pane" id="formContent" role="tabpanel" aria-labelledby="formContent-tab">
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {{form.errors}}
            </div>
            {% endif %}

            {% include "masterquest/inc_survey_cs_definition.html" %}

            <form action="{% url 'survey' %}" method="POST" id="taskForm">
                {% csrf_token %}

                {% for field in form.visible_fields %}
                <div class="form-group questContent">
                    {{field.label_tag }}
                    {{field}}
                </div>
                {% endfor %}

                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}

                <input type="submit" value="Next Task" class="btn btn-primary" />
            </form>
        </div>

        {% include "masterquest/inc_survey_codeSnippet.html" %}

    </div>
</div>
{% endblock surveyContent %}


{% block modalTitle %}
    code analysis
{% endblock modalTitle %}

{% block modalContent %}
<p>
    This task presents a code snippet which contains a specific code smell type.
</p>
<p>
    So you have to:
</p>
<ol>
    <li>Check the code snippet and try detect it - tab "Code view".</li>
    <li>Fill in the form and submit it - tab "Task submission".</li>
</ol>
{% endblock modalContent %}