{% extends "masterquest/survey.html" %}
{% load static %}

{% block surveyContent %}
   
    <p>
        Analyse the model and the code snippets.   
        Click on each code snippet, analyse the code and try to detect some code smell. 
        Soon after, analyse the decision tree whose paths, nodes and leafs indicates an unrevelead type of code smell. Try to find out a correlation between each code snippet and the classification tree. 
    </p>

    {% include "masterquest/incTreePanel.html" with showCodeSnippets=True %}
    
    <form action="{% url 'survey' %}" method="POST">    
        {% csrf_token %}  
        <div class="quest0Content questContent">
            <h3 class="questionDesc">How correlated is the code snippet 1 and the tree model?</h3>                         
            {{form.answerq1}}            
        </div>               
        <div class="quest1Content questContent">
            <h3 class="questionDesc">What's the reason behind the choice you've made above?</h3>                         
            {{form.answerq1_complement}}                                     
        </div>
        <div class="quest2Content questContent">
            <h3 class="questionDesc">How correlated is the code snippet 2 and the tree model?</h3>                         
            {{form.answerq2}}                                     
        </div>
        <div class="quest3Content questContent">
            <h3 class="questionDesc">What's the reason behind the choice you've made above?</h3>                         
            {{form.answerq2_complement}}
        </div>
        
        <input type="submit" value="Next model" class="btn btn-primary" />
               
        {{form.task}}
        {{form.dtModel}}   
        {{form.questionnaire}}   
        
    </form>
    


{% endblock surveyContent %}