{% extends "masterquest/survey.html" %}
{% load static %}

{% block surveyContent %}
   
    {% include "masterquest/incTreePanel.html" %}
    
    <form action="{% url 'survey' %}" method="POST">    
        {% csrf_token %}  
        <div class="quest0Content questContent">
            <h3 class="questionDesc">{{questions.0.description}}</h3>             
            
            {{form.answerq1}}
         

            <input type="submit" value="Next Task" class="btn btn-primary" />
        </div>               
               
        {{form.task}}
        {{form.dtModel}}   
        {{form.questionnaire}}   
        
    </form>

{% endblock surveyContent %}