{% extends "masterquest/survey.html" %}
{% load static %}

{% block surveyContent %}

<!--
<p>
    Analyse the model. See carefully the rules, conections, nodes and leaves. Then, answer the questions below.
</p>
-->

<div class="container-fluid">

    <div class="tab-content" id="myTabContent">

        <div class="tab-pane show active" id="introContent" role="tabpanel" aria-labelledby="introContent-tab">
            <div class="navigationButtons clearfix">
                <button type="button" class="btn btn-primary btn-sm" style="float:right">Code view &gt;&gt;</button>
            </div>

            <h3><span class="text-white bg-dark rounded">Task 1 of 2</span> - code snippet analysis</h3>

            <h4>Instructions</h4>

            <p>
                This task presents a code snippet with a code smell.
            </p>
            <p>
                In this task you have to:
            </p>
            <ol>
                <li>Check the code snippet.</li>                
                <li>Fill in the form and submit it.</li>
            </ol>
        </div>

        <div class="tab-pane" id="formContent" role="tabpanel" aria-labelledby="formContent-tab">
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {{form.errors}}
            </div>
            {% endif %}

            <!--
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                To answer the questions below, you should visualize the corresponding tree and code snippet. Click on
                the tabs to navigate.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            -->

            <form action="{% url 'survey' %}" method="POST" id="taskForm">
                {% csrf_token %}
                <div class="quest1Content questContent">
                    <h3 class="questionDesc">What code smell type do you infer from code snippet?</h3>
                    <div class="input-group mb-3">
                        {{form.answer_cst}}
                    </div>
                </div>

                <div class="quest3Content questContent">
                    <h3 class="questionDesc">What's your confidence level about the chosen option above??</h3>
                    <div class="input-group mb-3">
                        {{form.answer_cst_confidence}}
                    </div>
                </div>

                {{form.task}}
                {{form.dtModel}}
                {{form.questionnaire}}

                <input type="submit" value="Next Task" class="btn btn-primary" />
            </form>
        </div>

        {% include "masterquest/inc_survey_codeSnippet.html" %}

    </div>
</div>

{% endblock surveyContent %}