{% extends "masterquest/survey.html" %}
{% load static %}

{% block tabTreeContent %}
<li class="nav-item">
    <a class="nav-link" id="dtContent-tab" data-toggle="tab" href="#dtContent" role="tab" aria-controls="dtContent"
        aria-selected="false">Tree view</a>
</li>
{% endblock tabTreeContent %}

{% block surveyContent %}

<div class="container-fluid">

    <div class="tab-content" id="myTabContent">

        {% comment %}
        <div class="tab-pane" id="introContent" role="tabpanel" aria-labelledby="introContent-tab">

            <h3><span class="text-white bg-dark rounded">Task 2/2</span> - code and decision tree analysis</h3>

            <h4 class="instructions">Instructions</h4>


        </div>
        {% endcomment %}

        <div class="tab-pane" id="formContent" role="tabpanel" aria-labelledby="formContent-tab">
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {{form.errors}}
            </div>
            {% endif %}

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                To answer the questions below, you should visualize the corresponding tree and code snippet. Click on
                the tabs to navigate.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="{% url 'survey' %}" method="POST" id="taskForm">
                {% csrf_token %}

                {% for field in form.visible_fields %}
                <div class="form-group questContent">
                    {{field.label_tag }}
                    {{field}}
                </div>
                {% endfor %}

                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}

                <input type="submit" value="Next Task" class="btn btn-primary" />
            </form>
        </div>

        {% include "masterquest/inc_survey_codeSnippet.html" %}

        {% include "masterquest/inc_survey_treePanel.html" %}

    </div>
</div>

{% endblock surveyContent %}

{# ### MODAL #}

{% block modalTitle %}
code and <strong>decision tree</strong> analysis
{% endblock modalTitle %}

{% block modalContent %}
<p>
        This task presents a code snippet that contains a specific code smell type, along with a decision tree whose rules
        (nodes, paths and leaves) suggest the same design problem as the code.
</p>
<p>
    So, in this task you have to:
</p>
<ol>
    <li>Check the code snippet - click on the tab "Code view".</li>
    <li>Check the decision tree - click on the tab "Tree view". You might return to the code if you want to.</li>
    <li>Fill in the form and submit it - click on the tab "Task submission".</li>
</ol>
{% endblock modalContent %}